@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.nav {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 15px;
  width: calc(100% - 30px);
  margin: 10px 15px;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  justify-content: flex-start;
  flex: 1;
}

.link {
  color: white;
}

.hamburgerContainer {
  right: 0;
}

.hamburger {
  filter: invert(1);
  background-color: transparent;
  height: 20px;
}
